.arrow {
  display: block;
  position: absolute;
  bottom: 27px;
  left: 51%;
  width: 10px;
  height: 10px;
  border-left: 1px solid;
  border-bottom: 1px solid;
  transform: rotate(-45deg) translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: rotate(-45deg) translate(-50%, -50%) translateY(.2rem);
  }
}
