.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  min-width: 200px;
  background-color: var(--button-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 21px 0;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-0.4rem);
  }
}
