@import 'normalize';
@import 'fonts';
@import 'variables';
@import 'base';
@import 'header__nav';
@import 'arrow';
@import 'button';

.page__wpapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  background-image: url('../images/Rectangle.webp');
  background-size: cover;
  background-position: center;

  .page__centered__wrapper {
    padding: 0 15px 0 50px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 33.5vh;
    font-size: 16px;
    line-height: 20px;
  }

  h2 {
    margin-bottom: 1.6vh;
    font-size: 30px;
    line-height: 36px;
  }

  .page__1-desc {
    opacity: 0.8;
    padding-bottom: 1vh;
  }
}

.page__wpapper2 {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: 61%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  }
}

.page__centered__wrapper2 {
  padding: 0 38px 0 38px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;

  &-content {
    padding: 0 12px;
    padding-top: 12.6vh;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
  }
}

.page__2-desc {
  margin-top: 2vh;
  opacity: 0.8;
}

.page__2-img {
  position: absolute;
  bottom: 0;
  max-height: 70vh;
}

.page__wpapper3 {
  position: relative;
  background-image: linear-gradient(to bottom,
  rgba(27, 27, 27, 0.5), rgba(16, 16, 16, 0.80)),
  url('../images/Group2.webp');
  background-size: cover;
  background-position: center;
}

.page__centered__wrapper3 {
  padding: 0 37px 0 42px;
}

.page__border {
  border: 8px solid #23C3B2;
  min-height: 100vh;
}

.page__3-header-content {
  padding-top: 4.6vh;
  line-height: 23px;
  letter-spacing: 0.5px;
    
  h3 {
    margin-top: 0.6vh;
    letter-spacing: 1px;
  }
}

.page__3-mein-content {
  margin-top: 16.8vh;
  line-height: 22px;

    @media (max-height: 470px) {
      margin-top: 6vh;
    }

  h1 {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 1.3vh;

    @media (max-height: 470px) {
      font-size: 30px;
      line-height: 36px;
    }
  }

  p {
    letter-spacing: 0.5px;
  }
}

.page__3-footer-content {
  margin-top: 6.2vh;
  position: relative;
  z-index: 10;

  @media (max-height: 470px) {
    margin-top: 3.2vh;
  }

  h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 1px;

    @media (max-height: 470px) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  p {
    opacity: 0.6;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.8px;
  }
}

.page__3-button {
  margin-top: 2.2vh;
  margin-bottom: 1.5vh;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 1.3px;
  cursor: pointer;
}

.page__3-price-content {
  margin-top: 1vh;
  opacity: 0.6;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.8px;

  a {
    display: block;
    margin-top: 3vh;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 1.3px;
    color: var(--primary-color);
  }
}

.page__centered__wrapper4 {
  padding: 0 13px 0 14px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 56%;
    background-image: linear-gradient(to top,
    rgba(16, 16, 16, 1) 0%, rgba(16, 16, 16, 0) 43%);
  }
}

.page__centered__wrapper4-content {
  padding-left: 36px;
  padding-top: 14.4vh;
  position: relative;
  z-index: 2;

    @media (max-height: 470px) {
      padding-top: 9vh;

      h3 {
        font-size: 18px;
        line-height: 22px;
      }
    }

  p {
    margin-top: 2.4vh;
    font-size: 15px;
    opacity: 0.8;
  }
}

.page__4-img-wparrer {
  margin-top: 2vh;
  display: flex;
  justify-content: center;

  @media (max-height: 470px) {
    img {
      width: 40%;
    }
  }
}

.page__centered__wrapper5 {
  padding: 0 0 0 50px;
  padding-top: 12vh;

  h3 {
    padding-right: 15px;
  }
}

.page__5-list {
  margin-top: 4.9vh;
  display: flex;
  flex-wrap: wrap;
  align-items: start;

  li {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 5.8vh;

    h4 {
      font-size: 20px;
      line-height: 24px;
    }
    
    p {
      font-size: 15px;
      line-height: 18px;
      padding-right: 10px;
    }
  }
}

.page__5-button {
  margin-top: 1.8vh;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.3px;
  cursor: pointer;
  padding: 20px 0;
}
